 *,
        *::before,
        *::after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Times New Roman', Times, serif;
            padding: 20px;
            background-color: #f8fafc;
        }

        .box-container {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        /* CONTENT-BOX */
        .broken-box {
            box-sizing: content-box;
            width: 100%;
            padding: 24px;
            border: 6px solid #ef4444;
            background-color: #fee2e2;
            margin-bottom: 30px;
        }

        /* BORDER-BOX */
        .fixed-box {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            border: 6px solid #10b981;
            background-color: #d1fae5;
            border-radius: 12px;
        }

        /* Uzun metni tek satırda tutup taşmayı gizler */
        .truncate-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            max-width: 250px;

            background: white;
            padding: 8px;
            border-radius: 6px;
            margin-top: 12px;
            border: 1px solid #cbd5e1;
        }